<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<property name="LOG_DIR" value="/appdata/masLogistics/Logs" />
	<property name="HOSTNAME" value="${HOSTNAME}" />
	<property name="LOG_FILE_NAME" value="MasQuotation.log" />
	
	<appender name="ROLLING-FILE" class="ch.qos.logback.core.FileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${LOG_DIR}/${LOG_FILE_NAME}</file>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="ROLLING-FILE" />
	</root>
</configuration>